{{ define "main" }}
  {{ $section := .Data.Pages.ByDate }}
  {{ $events := where $section ".Date.Unix" "ge" now.Unix }}
  {{ $events_past := where $section.Reverse ".Date.Unix" "<" now.Unix }}

  <div class="center cf min-vh-100 mw7 pv5 ph3 ph4-ns">
  {{with $events}}
    <div class="mb6">
      {{ range . }}
        <article class="bg-accent-color-light gray mb4 pa4 relative w-100">
          {{ .Render "view-item" }}
        </article>
      {{ end }}
    </div>
  {{end}}

    <h1 class="color-inherit">
      Past Events
    </h1>
    {{ range $events_past }}
      <article class="bg-accent-color-light gray mb4 pa4 relative w-100">
        {{ .Render "view-item-shortened" }}
      </article>
    {{ end }}

  </div>

{{ end }}
