{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{ $featured_blurb := index (where (where .Site.RegularPages "Section" "review") ".Params.featured" true) 0 }}

  <main class="w-100 cf min-vh-100">
    {{ if $featured_blurb }}
      <section class="center pb-2-l ph4 ph4-m pt5-l pv4 w-80-l">
        {{ with $featured_blurb.Content }}
          <blockquote class="f3-l f4 lh-copy ">
            {{ . }}
          </blockquote>
        {{ end }}
        {{ with $featured_blurb.Params.attribution }}
          <div class="b ml5">— {{ . }}</div>
        {{ end }}
      </section>
    {{ end }}

    {{ range (where .Data.Pages "Section" "book") }}
    {{/* TOP Section  */}}
    <section class="cf w-80-l ph4 ph4-m center pv4 pv5-l">

      <header class="">
        <h1 class="f2 f1-l lh-solid">
          {{ .Title }}
          <span class="f4 db dib-l lh-solid mt2 mt0-l">
            {{ .Params.subtitle }}
          </span>
        </h1>
      </header>

      <div class="fl w-100 w-40-l pt2-l">
        <img src="{{ .Params.cover_image }}" alt="" class="w-90 shadow-5 mt3-s mt0-m mt0-l mb2 mb0-l">

        <h5 class="mb2 sans-serif ">
          Publication Date: {{ .Params.publication_date }}
        </h5>
        {{ if .Params.hardcover_isbn }}
          <p class="f6 sans-serif mv2">
            Hardcover: {{ .Params.hardcover_isbn }}
          </p>
        {{ end }}
        {{ if .Params.paperback_isbn }}
          <p class="f6 sans-serif mv2">
            Paperback: {{ .Params.paperback_isbn }}
          </p>
        {{ end }}
        {{ if .Params.ebook_isbn }}
          <p class="f6 sans-serif  mv2">
            Ebook: {{ .Params.ebook_isbn }}
          </p>
        {{ end }}
      </div>
      <div class="fl w-100 w-60-l mt4 mt0-ns">
        <div class="f3 lh-copy mb3 mt3 mt0-l">
          {{ .Params.blurb | markdownify  }}
        </div>
        <div class="f4 lh-copy">
          {{ .Params.description | markdownify }}
        </div>
        <div class="f5 bt bb b--black-20 mv4">
          {{ .Content }}
        </div>
        {{ partial "components/buylinks" (dict "hardcover" .Params.hardcover_isbn "paperback" .Params.paperback_isbn "ebook" .Params.ebook_isbn "buylinkClasses" "f5 link bg-animate hover-bg-near-black br2 ba ph3 pv2 mr1 mb2 db dib-ns black hover-white" "textcolor" "black") }}
      </div>

    </section>

    <section class="w-80-l ph4 ph4-m center">
      <h2 class="mt5">
        Praise for <i>{{ .Title }} </i>
      </h2>

      {{ range first 1 (.Params.reviews) }}
        <div class="blurb f3-l lh-copy mb5">
          <p class="mv4">{{ .copy_markdown | markdownify }}</p>
          <span class="f5"> – {{ .attribution | markdownify }}</span>
        </div>
      {{ end }}

      <a class="fr f5 link bg-animate hover-bg-near-black br2 ba ph3 pv2 mr1 mb2 db dib-ns black hover-white" href="{{ .URL }}">
        More
      </a>
    </section>

  {{ end }}
  </main>

{{ end }}
