{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  {{ range first 1 (where .Data.Pages "Section" "book") }}
    <main>
      <div class="cover" style="background-image:url({{ $.Params.hero.image }});">
        <div class="cf w-80-l ph4 ph4-m center pv4 pv5-l">
          <div class="fl w-100 w-50-l pt4-l">
            {{ with .Params.description }}
              <div class="cf pr3 f3 f2-ns lh-copy white">
                {{ . | markdownify }}
              </div>
            {{ end }}
            <div class="hide-s show-l">{{ partial "books/buylinks" (dict "hardcover" .Params.hardcover_isbn "paperback" .Params.paperback_isbn "ebook" .Params.ebook_isbn "buylinkClasses" "f5 link bg-animate hover-bg-near-black br2 ba ph3 pv2 mr1 mb2 db dib-ns white" "textcolor" "white") }}</div>
          </div>
          <div class="fl w-100 w-50-l pl5-l mt4 mt0-ns">
            <a href="{{ .URL }}">
              <img src="{{ .Params.cover_image }}" alt="" class="shadow-5 mt3-s mt3-m mt0-l" style="max-height: 80vh;">
            </a>
          </div>
        </div>
      </div>
      <div class="w-75-l center pa4">
        <h2 class="mt5">Praise for <i>{{ .Title }} </i> </h2>
        {{ range $blurb := .Params.reviews }}
          <div class="blurb f3-l lh-copy mb5">
            <p class="mv4">{{ $blurb.copy_markdown | markdownify }}</p>
            <span class="f5"> – {{ $blurb.attribution | markdownify }}</span>
          </div>
        {{ end }}
      </div>
    </main>
  {{ end }}
{{ end }}
