{{ if .Params.featured_image }}
<header class="sans-serif">
  <div class="cover bg-center" style="background-image: url({{ .Params.featured_image }})">
    <div class="bg-black-10 pv2 pv3-m pv6-l">
      <div class="tc-l mt4 mt5-m mt6-l ph3">
        <h1 class="f2 fw7 f1-l fw2 white mb0 lh-title" style="text-shadow: 1px 0 1px #242424;">
           {{ .Title }}
        </h1>
        {{ with .Params.description }}
        <p class="f3 white-80 mt3 mb4 nested-links">
            {{ . }}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</header>
{{ end }}
