<div class="globalmenu mobilemenu menu pb3 dn">
    {{ partial "global/nav-links-mobile.html" . }}
</div>
<div class="sharemenu mobilemenu menu pb3 dn">
    {{ partial "social-share-mobile.html" . }}
</div>

<div class="flex dn-l">

  <button class="js-toggle flex-auto ml2 dib dn-l f6 tc db mt4-ns ph3 pv2 link white bg-primary-color-dark hover-bg-primary-color ba b--white-40 w-auto" data-target=".globalmenu">Menu</button>

  <button class="js-toggle flex-auto ml2 dib dn-l f6 tc db mt4-ns ph3 pv2 link white bg-primary-color-dark hover-bg-primary-color ba b--white-40 w-auto" data-target=".sharemenu">Share</button>


</div>
